<div id="kt_header" class="header header-fixed">
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <div class="header-menu-wrapper container-fluid header-menu-wrapper-left d-flex align-items-center">
            <h5 class="text-dark font-weight-bold">Welcome {{username}}</h5>
        </div>
        <div class="setting-icons d-flex justify-content-between">
            <div class="topbar container-fluid d-flex justify-content-end">
                <div class="dropdown">
                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
                            <i class="fa flaticon2-settings"></i>
                        </div>
                    </div>
                    <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                        <ul class="navi navi-hover py-4">
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/setting/general" class="navi-link">
                                    <span class="">General Setting</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/setting/edu_cate" class="navi-link">
                                    <span class="">Education Category</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/setting/survey" class="navi-link">
                                    <span class="">Survey Settings</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/setting/pqsetting" class="navi-link">
                                    <span class="">PQ Settings</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/setting/squestion" class="navi-link">
                                    <span class="">Security Question</span>
                                </a>
                            </li>
                            <hr>
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/setting/role" class="navi-link">
                                    <span class="">Roles</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/setting/permission" class="navi-link">
                                    <span class="">Permissions</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="topbar container-fluid d-flex justify-content-end">
                <div class="dropdown">
                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                        <ul class="navi navi-hover py-4">
                            <li class="navi-item">
                                <a href="{{env.HOST_URL}}{{env.PREFIX_URL}}/logout" class="navi-link"
                                    onclick="localStorage.setItem('once_logged_in','false');">
                                    <span class="">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const id = "{{user.id}}"
    if (id) {
        localStorage.setItem("user_id", "{{user.id}}")
    }
</script>