<div class="row my-3 p-10 bg-white border rounded">
    <div class="col-12 mb-4 d-flex justify-content-between align-items-center my-5">
        <div>
            <h3>Contact Records</h3>
        </div>
        <input type="hidden" id="chosen_id" />
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table" id="contact_track_tb">
                <thead>
                    <th>Case</th>
                    <th>Clinic</th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>From</th>
                    <th>Subject</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="contact_track_view_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title " style="font-weight:500;">View Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h6>Case</h6>#<span id="view_case"></span>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>Clinic</h6><span id="view_clinic"></span>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>Date</h6><span id="view_date"></span>
                    </div>

                    <div class="col-6 mt-10">
                        <h6>Reason</h6><span id="view_reason"></span>
                    </div>
                    <div class="col-6 mt-10">
                        <h6>From</h6><span id="view_name"></span>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>DOB</h6><span id="view_dob"></span>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>Email</h6><span id="view_email"></span>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>Cel</h6><span id="view_cel"></span>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>Language</h6><span id="view_lang"></span>
                    </div>

                    <div class="col-md-12 mt-10">
                        <h6>Subject</h6><span id="view_subject"></span>
                    </div>
                    <div class="col-md-12 mt-3">
                        <h6>Message</h6><span id="view_message"></span>
                    </div>

                    <div class="col-12 mt-10">
                        <h6>Assigned To</h6><span id="view_assigned_to"></span>
                    </div>
                    <div class="col-6 mt-3 mb-5">
                        <h6>Priority</h6><span id="view_priority"></span>
                    </div>
                    <div class="col-6 mt-3 mb-5">
                        <h6>Status</h6><span id="view_status"></span>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        let tracktable = $('#contact_track_tb').DataTable({
            "pagingType": "full_numbers",
            "order": [[2, 'desc']],
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            "ajax": {
                "url": '{{env.HOST_URL}}' + '{{env.PREFIX_URL}}' + "/dashboard/read",
                "type": "POST"
            },
            "columns": [
                { data: 'case_number' },
                { data: 'clinic' },
                {
                    data: 'date',
                    render: function (data, type, row) {
                        return new Date(row.date).toLocaleString()
                    }
                },
                { data: 'reason' },
                { data: 'name' },
                { data: 'subject' },
                {
                    data: 'priority',
                    render: function (data, type, row) {
                        return `<span class = '${row.priority == 1 ? "text-danger" : (row.priority == 2 ? "text-warning" : "text-success")}'>${row.priority == 1 ? "Routine" : (row.priority == 2 ? "Medium" : "Low")}</span>`
                    }
                },
                {
                    data: 'status',
                    render: function (data, type, row) {
                        return `<span class = '${row.status == 1 ? "text-danger" : (row.status == 2 ? "text-success" : "text-primary")}'>${row.status == 1 ? "Open" : (row.status == 2 ? "In progress" : "Closed")}</span>`
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        return `
                        <div idkey="`+ row.id + `">
                            <span class='btn btn-icon mx-1 btn-sm btn-light-success viewbtn'><i class='fa fa-eye'></i></span>
                            <span class='btn btn-icon mx-1 btn-sm btn-light-danger  deletebtn'><i class='fa fa-trash'></i></span>
                        </div>
                        `
                    }
                }
            ]
        });

        $(document).on("click", ".viewbtn", function () {
            window.id = $(this).parent().attr("idkey");
            $.ajax({
                url: '{{env.HOST_URL}}' + '{{env.PREFIX_URL}}' + '/dashboard/readOne',
                method: "POST",
                data: { id: window.id },
                dataType: "json",
                success: function (data) {
                    priority_string = ['', 'High', 'Medium', 'Low'];
                    status_string = ['', 'Open', 'In Progress', 'Closed'];
                    $("#view_case").html(data['case_number']);
                    $("#view_clinic").html(data['clinic']);
                    $("#view_date").html(new Date(data['date']).toLocaleString());
                    $("#view_reason").html(data['reason']);
                    $("#view_name").html(data['name']);
                    $("#view_dob").html(new Date(data['dob']).toLocaleDateString());
                    $("#view_email").html(data['email']);
                    $("#view_cel").html(data['cel']);
                    $("#view_lang").html(data['lang'] == 'en' ? 'English' : 'Spanish');
                    $("#view_subject").html(data['subject']);
                    $("#view_message").html(data['message']);
                    $("#view_assigned_to").html(data['assign']);
                    $("#view_priority").html(priority_string[data['priority']]);
                    $("#view_status").html(status_string[data['status']]);
                    $("#contact_track_view_modal").modal('show');
                }
            });
        });

        $(document).on("click", ".deletebtn", function () {
            window.id = $(this).parent().attr("idkey");
            var tmp = $(this).parent().parent().parent();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '{{env.HOST_URL}}' + '{{env.PREFIX_URL}}' + '/dashboard/delete',
                        method: "POST",
                        data: { id: window.id },
                        dataType: "text",
                        success: function (data) {
                            if (data == "ok")
                                tmp.remove();
                        }
                    });
                }
            });
        });
    });

</script>