<div class="row my-3 p-10 bg-white border rounded">
    <div class="col-12 mb-4 d-flex justify-content-between align-items-center my-5">
        <div>
            <h3>Edecations</h3>
        </div>
        <div style="padding:10px 20px 10px 20px;" class="education_add_btn btn btn-light-primary btn-icon"><i
                class='fa fa-plus'></i></div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table" id="education_tb">
                <thead>
                    <th>Page</th>
                    <th>English</th>
                    <th>Español</th>
                    <th>English Doc</th>
                    <th>Español Doc</th>
                    <th>Action</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="education_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <input type="hidden" id="modal_type" />
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ">Education</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Page</h6>
                            <input id="education_page" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Title(English)</h6>
                            <input id="education_title_en" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Title(Español)</h6>
                            <input id="education_title_es" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Description(English)</h6>
                            <textarea id="education_desc_en" class="form-control" rows="5" type="text"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Description(Español)</h6>
                            <textarea id="education_desc_es" class="form-control" rows="5" type="text"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-file custiom-group">
                            <input id="education_file_en" class="custom-file-input" type="file" />
                            <label class="custom-file-label" for="education_file_en">File(English)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-file custiom-group">
                            <input id="education_file_es" class="custom-file-input" type="file" />
                            <label class="custom-file-label" for="education_file_es">File(Español)</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary education_modal_confirm"
                    data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        let education_tb = $('#education_tb').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            "ajax": {
                "url": "{{env.HOST_URL}}{{env.PREFIX_URL}}/education/readEducations",
                "type": "POST"
            },
            "columns": [
                { data: 'page' },
                { data: 'title_en' },
                { data: 'title_es' },
                { data: 'file_en' },
                { data: 'file_es' },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        return `
                        <div idkey="${row.id}">
                            <span class="btn btn-icon btn-sm btn-light-warning education_edit_btn"><i class="fas fa-edit"></i></span>
                            <span class="btn btn-icon btn-sm btn-light-danger  education_delete_btn"><i class="fas fa-trash"></i></span>
                        </div>
                        `
                    }
                }
            ]
        });

        $(".education_add_btn").click(function () {
            $("#modal_type").val("0")

            $("#education_page").val("");
            $("#education_title_en").val("");
            $("#education_title_es").val("");
            $("#education_desc_en").val("");
            $("#education_desc_es").val("");

            $("#education_modal").modal('show');
        });

        $(".education_modal_confirm").click(function () {
            var fd = new FormData();
            fd.append('id', id);
            fd.append('page', $("#education_page").val());
            fd.append('title_en', $("#education_title_en").val());
            fd.append('title_es', $("#education_title_es").val());
            fd.append('desc_en', $("#education_desc_en").val());
            fd.append('desc_es', $("#education_desc_es").val());

            // english file
            var file_en = $('#education_file_en')[0].files;
            var id = window.id;
            if (file_en.length > 0) {
                fd.append('file_en', file_en[0]);
            }
            // spanish file
            var file_es = $('#education_file_es')[0].files;
            var id = window.id;
            if (file_es.length > 0) {
                fd.append('file_es', file_es[0]);
            }

            $.ajax({
                url: `{{env.HOST_URL}}{{env.PREFIX_URL}}/education/${$("#modal_type").val() == "0" ? 'createEducation' : 'updateEducation'}`,
                method: "POST",
                data: fd,
                contentType: false,
                processData: false,
                dataType: "text",
                success: function (data) {
                    handleTableResponse(data, '#education_tb', $("#modal_type").val() == "0" ? 'Add' : 'Update');
                }
            });
        });

        $(document).on("click", ".education_edit_btn", function () {
            $("#modal_type").val("1")
            window.id = $(this).parent().attr("idkey");
            $.ajax({
                url: '{{env.HOST_URL}}{{env.PREFIX_URL}}/education/readOneEducation',
                method: "POST",
                data: { id: window.id },
                dataType: "json",
                success: function (data) {
                    $("#education_page").val(data['page']);
                    $("#education_title_en").val(data['title_en']);
                    $("#education_title_es").val(data['title_es']);
                    $("#education_desc_en").val(data['desc_en']);
                    $("#education_desc_es").val(data['title_es']);

                    $("#education_modal").modal('show');
                }
            });
        });

        $(document).on("click", ".education_delete_btn", function () {
            window.id = $(this).parent().attr("idkey");
            var tmp = $(this).parent().parent().parent();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '{{env.HOST_URL}}{{env.PREFIX_URL}}/education/deleteEducation',
                        method: "POST",
                        data: { id: window.id },
                        dataType: "text",
                        success: function (data) {
                            if (data == "ok")
                                tmp.remove();
                        }
                    });
                }
            });
        });

    });
</script>