<div class="row justify-content-md-center h-100">
	<div class="card-wrapper">
		<div style="height:200px;" class="d-flex align-items-center justify-content-center">
			<h1>Precision Quality Central Control</h1>
		</div>
		<div class="card fat mx-auto" style="width:350px;">
			<div class="card-body">
				<h4 class="card-title">Login</h4>
				<form action="{{env.HOST_URL}}{{env.PREFIX_URL}}/login" id="loginForm" method="POST" class="my-login-validation" novalidate="">
					<div class="form-group">
						<label for="inputEmail">E-Mail Address</label>
						<input id="inputEmail" type="email" class="form-control" name="inputEmail" value="{{oldInput.email}}" required autofocus>
						<div class="invalid-feedback">
							Email is invalid
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword">Password</label>
						{{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}" > --}}
						<div class="password-container">
							<input id="inputPassword" type="password" class="form-control" name="inputPassword" required data-eye />
							<i class="fas fa-eye toggle-password"></i>
						</div>
						<div class="invalid-feedback">
							Password is required
						</div>
					</div>

					{{#if errorMessage}}
					<div class="alert alert-danger" role="alert">
						{{errorMessage}}
					</div>
					{{/if}}
					<div class="form-group mt-5">
						<button type="button" id="btnLoginSubmit" class="btn btn-primary btn-block">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>