<style>
    .static-body {
        border-radius: 6px;
        box-shadow: 2px 2px 4px #00000020;
        transition: all 200ms ease-out;
    }

    .static-body:hover {
        box-shadow: 4px 4px 8px #00000040;
        transition: all 200ms ease-out;
        background-color: #FFFFFF90 !important;
    }

    .static-mark {
        border-radius: 5px;
        box-shadow: 2px 2px 7px #00000020;
        transition: all 200ms ease-out;
    }

    .p-1px {
        padding: 1px !important;
    }

    .p-2px {
        padding: 2px !important;
    }

    .p-5px {
        padding: 5px !important;
    }

    .p-10px {
        padding: 10px !important;
    }

    .p-15px {
        padding: 15px !important;
    }

    .p-20px {
        padding: 20px !important;
    }

    .p-50px {
        padding: 50px !important;
    }

    .px-20px {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .py-20px {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .fs-1 {
        font-size: 36px !important;
    }

    .fs-2 {
        font-size: 32px !important;
    }

    .fs-3 {
        font-size: 28px !important;
    }

    .fs-4 {
        font-size: 24px !important;
    }

    .fs-5 {
        font-size: 20px !important;
    }

    .fs-6 {
        font-size: 16px !important;
    }

    .fs-7 {
        font-size: 12px !important;
    }

    .round-5px {
        border: 1px solid #00000000;
        border-radius: 5px;
    }

    .split-line {
        height: 1px;
        background-color: gray;
    }

    .m-0 {
        margin: 0px;
    }

    .control-label {
        width: auto;
        min-width: 120px;
        margin: 0px;
        display: flex;
        justify-content: end;
        padding-right: 5px;
    }

    .control-date {
        max-width: 150px;
    }

    #contact_history_modal .modal-body {
        max-height: 500px;
        overflow-y: auto;
        scrollbar-width: thin;
    }
</style>

<div class="row my-3 px-10 bg-white border rounded">
    <div class="col-12 d-flex justify-content-between align-items-center my-5">
        <h3 class="m-0 p-0">Tickets</h3>
        <div class="btn btn-light-primary" id="ticket_add_btn">
            <i class='fa fa-plus'></i> New Ticket
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-3">
        <div data="0" class="w-100 h-120px bg-white static-body cursor-pointer">
            <div class="p-20px w-100 d-flex justify-content-between">
                <span class="d-inline-block round-5px">
                    <i class="p-15px fs-3 fa fa-globe text-info bg-light-info static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">TOTAL</h4>
                    <span id="ticket_all"
                        class="d-flex justify-content-end text-info fs-5 cursor-pointer stt-number">0</span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div data="1" class="w-100 h-120px bg-white static-body">
            <div class="p-20px w-100 d-flex justify-content-between cursor-pointer">
                <span class="d-inline-block round-5px">
                    <i class="p-15px fs-3 fa fa-envelope-open text-success bg-light-success static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">OPEN</h4>
                    <span id="ticket_open"
                        class="d-flex justify-content-end text-success fs-5 cursor-pointer stt-number">0</span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div data="2" class="w-100 h-120px bg-white static-body">
            <div class="p-20px w-100 d-flex justify-content-between cursor-pointer">
                <span class="d-inline-block round-5px">
                    <i class="p-15px fs-3 fa fa-handshake text-primary bg-light-primary static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">IN PROGRESS</h4>
                    <span id="ticket_in_progress"
                        class="d-flex justify-content-end text-primary fs-5 cursor-pointer stt-number">0</span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div data="3" class="w-100 h-120px bg-white static-body">
            <div class="p-20px w-100 d-flex justify-content-between cursor-pointer">
                <span class="d-inline-block round-2px">
                    <i class="p-15px fs-3 fa fa-envelope text-danger bg-light-danger static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">CLOSED</h4>
                    <span id="ticket_closed"
                        class="d-flex justify-content-end text-danger fs-5 cursor-pointer stt-number">0
                    </span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
</div>
<div class="row my-3 p-10 bg-white border rounded">
    <div class="col-12">
        <div class="ticket_filters d-flex justify-content-center align-items-center flex-wrap mb-3">
            <div class="d-flex justify-content-center align-items-center mx-2">
                <h5 class="m-0 mx-1">Clinic </h5>
                <select id="ticket_filter_clinic" class="form-control custom-select"></select>
            </div>
            <div class="d-flex justify-content-center align-items-center mx-2">
                <h5 class="m-0 mx-1">Assigned </h5>
                <select id="ticket_filter_assigned_to" class="form-control custom-select"></select>
            </div>
            <div class="d-flex justify-content-center align-items-center mx-2">
                <h5 class="m-0 mx-1">Status </h5>
                <select id="ticket_filter_status" class="form-control custom-select">
                    <option value="0">All Status</option>
                    <option value="1">Open</option>
                    <option value="2">In Progress</option>
                    <option value="3">Closed</option>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" id="ticket_tb">
                <thead>
                    <th>No</th>
                    <th>Clinic</th>
                    <th>Assigned To</th>
                    <th>Created Date</th>
                    <th>Reason</th>
                    <th>Created At</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="ticket_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="ticket_modal_chosen_id" />
            <input type="hidden" id="ticket_modal_type" />
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ticket</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Select a Clinic</h6>
                            <select id="ticket_clinic" class="form-control custom-select">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Select a Type <span class="text-danger">*</span></h6>
                            <select id="ticket_type" class="form-control custom-select">
                                <option value="1"> Tech Support </option>
                                <option value="2"> Customer Services </option>
                                <option value="3"> Incident </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Reason <span class="text-danger">*</span></h6>
                            <input id='ticket_reason' class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Message <span class="text-danger">*</span></h6>
                            <textarea id="ticket_message" class="form-control" rows="5" type="text"
                                placeholder="Leave a message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Assigned To <span class="text-danger">*</span></h6>
                            <select id="ticket_assigned_to" class="form-control custom-select"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Backup Assigned</h6>
                            <select id="ticket_backup_assigned" class="form-control custom-select"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Priority <span class="text-danger">*</span></h6>
                            <select id="ticket_priority" class="form-control custom-select">
                                <option value="1"> High </option>
                                <option value="2"> Midium </option>
                                <option value="3"> Low </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Status <span class="text-danger">*</span></h6>
                            <select id="ticket_status" class="form-control custom-select">
                                <option value="1"> Open </option>
                                <option value="2"> In Progress </option>
                                <option value="3"> Closed </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary" id="ticket_save_btn">Done</button>
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    let _old_status = 0
    $(document).ready(async function () {
        // get clinics
        $.ajax({
            url: "{{env.HOST_URL}}{{env.PREFIX_URL}}/clinic/readOnlyNames",
            method: "POST",
            data: {},
            dataType: 'json',
            success: function (res) {
                let html = ""
                __item_count = res.data.length
                res.data.forEach(item => {
                    html += `<option value="${item.id}">${item.name}</option>`
                })
                $("#ticket_clinic").html(html)
                $("#ticket_filter_clinic").html(`<option value="0">All Clinics</option>` + html)
            }
        })

        // get users
        $.ajax({
            url: "{{env.HOST_URL}}{{env.PREFIX_URL}}/user/readUserNames",
            method: "POST",
            data: {},
            dataType: 'json',
            success: function (res) {
                let html = ""
                __item_count = res.data.length
                res.data.forEach(item => {
                    html += `<option value="${item.id}">${item.fname} ${item.lname}</option>`
                })
                $("#ticket_assigned_to").html(html)
                $("#ticket_backup_assigned").html(`<option value="0">Nothing Selected</option>` + html)
                $("#ticket_filter_assigned_to").html(`<option value="0">All</option>` + html)
            }
        })

        // get counts for ticket status
        $.ajax({
            url: "{{env.HOST_URL}}{{env.PREFIX_URL}}/ticket/calc",
            method: "POST",
            data: {},
            dataType: 'json',
            success: function (res) {
                $("#ticket_all").text(parseInt(res.open) + parseInt(res.in_progress) + parseInt(res.closed))
                $("#ticket_open").text(parseInt(res.open))
                $("#ticket_in_progress").text(parseInt(res.in_progress))
                $("#ticket_closed").text(parseInt(res.closed))
            }
        })

        // get tickets
        const ticket_table = $("#ticket_tb").DataTable({
            pagingType: "full_numbers",
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            ajax: {
                "url": "{{env.HOST_URL}}{{env.PREFIX_URL}}/ticket/read",
                "type": "POST",
                "data": function (d) {
                    d.clinic_id = $("#ticket_filter_clinic").val() ? $("#ticket_filter_clinic").val() : 0
                    d.assigned_to = $("#ticket_filter_assigned_to").val() ? $("#ticket_filter_assigned_to").val() : 0
                    d.status = $("#ticket_filter_status").val() ? $("#ticket_filter_status").val() : 0
                }
            },
            order: [[0, "DESC"]],
            columns: [{
                data: 'id'
            }, {
                data: 'id',
                render: function (data, type, row) {
                    return row.clinic.clinic_acronym ? row.clinic.clinic_acronym : row.clinic.clinic_name
                }
            }, {
                data: 'id',
                render: function (data, type, row) {
                    return row.assignedUser.fname + " " + row.assignedUser.lname
                }
            }, {
                data: 'createdAt',
                render: function (data, type, row) {
                    return new Date(data).toLocaleString()
                }
            }, {
                data: 'reason'
            }, {
                data: 'user_id',
                render: function (data, type, row) {
                    return row.user.fname + " " + row.user.lname
                }
            }, {
                data: 'type',
                render: function (data, type, row) {
                    if (data == 1) {
                        return "Tech Support"
                    } else if (data == 2) {
                        return "Customer Services"
                    } else if (data == 3) {
                        return "Incident"
                    }
                }
            }, {
                data: 'priority',
                render: function (data, type, row) {
                    if (data == 1) {
                        return `<span class="bg-light-danger text-danger px-3 py-2 rounded rounded-3 fw-bold">High</span>`
                    } else if (data == 2) {
                        return `<span class="bg-light-success text-success px-3 py-2 rounded rounded-3 fw-bold">Medium</span>`
                    } else if (data == 3) {
                        return `<span class="bg-light-primary text-primary px-3 py-2 rounded rounded-3 fw-bold">Low</span>`
                    }
                }
            }, {
                data: 'status',
                render: function (data, type, row) {
                    if (data == 1) {
                        return `<span class="bg-light-success text-success px-3 py-2 rounded rounded-3 fw-bold">Open</span>`
                    } else if (data == 2) {
                        return `<span class="bg-light-primary text-primary px-3 py-2 rounded rounded-3 fw-bold">In Progress</span>`
                    } else if (data == 3) {
                        return `<span class="bg-light-danger text-danger px-3 py-2 rounded rounded-3 fw-bold">Closed</span>`
                    }
                }
            }, {
                data: 'id',
                render: function (data, type, row) {
                    return `<div data-id="${row.id}">
                                <span class="btn btn-icon btn-sm btn-light-warning ticket_edit_btn mx-1 my-1"><i class="fas fa-edit"></i></span>
                                <span class="btn btn-icon btn-sm btn-light-danger ticket_delete_btn mx-1 my-1"><i class="fas fa-trash"></i></span>
                            </div>`
                }
            }]
        })

        $("#ticket_add_btn").click(function () {
            $("#ticket_priority").val(2)
            $("#ticket_reason").val("")
            $("#ticket_message").val("")

            $("#ticket_modal_type").val("0")
            $("#ticket_modal").modal("show")
        })

        $("#ticket_save_btn").click(function () {
            const modal_type = $("#ticket_modal_type").val()
            const entry = {
                id: $("#ticket_modal_chosen_id").val(),
                user_id: localStorage.getItem("user_id"),
                clinic_id: $("#ticket_clinic").val(),
                type: $("#ticket_type").val(),
                reason: $("#ticket_reason").val(),
                message: $("#ticket_message").val(),
                assigned_to: $("#ticket_assigned_to").val(),
                backup_assigned: $("#ticket_backup_assigned").val(),
                priority: $("#ticket_priority").val(),
                status: $("#ticket_status").val()
            }

            if (!entry.reason) {
                toastr.success("Please Enter the Reason")
                return
            }
            if (!entry.message) {
                toastr.success("Please Enter the Message")
                return
            }

            $.ajax({
                url: `{{env.HOST_URL}}{{env.PREFIX_URL}}/ticket/${modal_type == 0 ? "create" : "update"}`,
                method: "POST",
                data: entry,
                dataType: 'json',
                success: function (res) {
                    if (res.status == "success") {
                        toastr.success("Saved Successfully!")

                        $("#ticket_modal").modal("hide")

                        ticket_table.ajax.reload()

                        // refresh counts
                        const _card_name = ["open", "in_progress", "closed"]
                        if (modal_type == 0) { // add
                            $(`#ticket_${_card_name[parseInt(entry.status) - 1]}`).text(parseInt($(`#ticket_${_card_name[parseInt(entry.status) - 1]}`).text()) + 1)
                            $(`#ticket_all`).text(parseInt($(`#ticket_all`).text()) + 1)
                        } else if (modal_type == 1) { // update
                            $(`#ticket_${_card_name[parseInt(entry.status) - 1]}`).text(parseInt($(`#ticket_${_card_name[parseInt(entry.status) - 1]}`).text()) + 1)
                            $(`#ticket_${_card_name[_old_status - 1]}`).text(parseInt($(`#ticket_${_card_name[_old_status - 1]}`).text()) - 1)
                        }
                    } else if (res.status == "error") {
                        toastr.error(res.error)
                    }
                },
                error: function () {
                    toastr.error("Error was occurred on the server!")
                }
            })
        })

        $(document).on("click", ".ticket_edit_btn", function () {
            const id = $(this).parent().attr("data-id")
            $("#ticket_modal_chosen_id").val(id)
            $("#ticket_modal_type").val("1")

            $.ajax({
                url: "{{env.HOST_URL}}{{env.PREFIX_URL}}/ticket/readById",
                method: "POST",
                data: { id: id },
                dataType: 'json',
                success: function (res) {
                    const data = res.data
                    $("#ticket_clinic").val(data.clinic_id)
                    $("#ticket_type").val(data.type)
                    $("#ticket_reason").val(data.reason)
                    $("#ticket_message").val(data.message)
                    $("#ticket_assigned_to").val(data.assigned_to)
                    $("#ticket_backup_assigned").val(data.backup_assigned)
                    $("#ticket_priority").val(data.priority)
                    $("#ticket_status").val(data.status)
                    _old_status = parseInt(data.status)

                    $("#ticket_modal").modal("show")
                }
            })
        })

        $(document).on("click", ".ticket_delete_btn", function () {
            const id = $(this).parent().attr("data-id")
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '{{env.HOST_URL}}{{env.PREFIX_URL}}/ticket/delete',
                        method: "POST",
                        data: { id: id },
                        dataType: "json",
                        success: function (res) {
                            if (res.status == "success") {
                                toastr.success("Deleted Successfully!")
                                ticket_table.ajax.reload()

                                // refresh counts
                                const _card_name = ["open", "in_progress", "closed"]
                                $(`#ticket_${_card_name[parseInt(res.old.status) - 1]}`).text(parseInt($(`#ticket_${_card_name[parseInt(res.old.status) - 1]}`).text()) - 1)
                                $(`#ticket_all`).text(parseInt($(`#ticket_all`).text()) - 1)
                            } else {
                                toastr.error(res.error.message)
                            }
                        },
                        error: function () {
                            toastr.error("Sorry, Something went wrong!")
                        }
                    });
                }
            });
        })

        // filters
        $("#ticket_filter_clinic").change(function () {
            ticket_table.ajax.reload()
        })

        $("#ticket_filter_assigned_to").change(function () {
            ticket_table.ajax.reload()
        })

        $("#ticket_filter_status").change(function () {
            ticket_table.ajax.reload()
        })
    })
</script>